@charset 'UTF-8';

html {
	height:100%;
	overflow-y:hidden;
}

body {
	height:100%;
}

#bg {
	width:200%;
	height:200%;
	left:-50%;
	top:-50%;
	background-image:url(../img/orteliusworldmap_6812.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	animation:wave 100s cubic-bezier(.46,.15,.59,.89) infinite;
	position: fixed;
	transform:rotate(0);
}


@keyframes wave {
	0% {transform:rotate(0) scale(1)}
	50% {transform:rotate(-180deg) scale(.9)}
	100% {transform:rotate(-360deg) scale(1)}
}

#content {
	width: 100%;
	height:100%;
	left:0;
	top:0;
	position:fixed;
	background-color: rgba(31, 29, 25,.95);
	z-index: 1;
	margin-top: 0;
}

#footer {
	background-color: transparent;
	position: relative;
}
#footer address {
	position: fixed;
	right:20px;
	bottom:20px;
	height:50px;
	z-index:2;
	line-height:50px;
}
#footer a:hover {
	color: #795548;
}

#content .wrap_sign {
	height: 410px;
	width: 900px;
	position: fixed;
	margin: -205px 0 0 -450px;
	left:50%;
	top:50%;
	
}

.wrap_sign .box_img {
	width: 402px;
	height: 408px;
	background-image: url(../img/compass1.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	transition: all cubic-bezier(.64,.08,.7,1.57) .7s;
	
	transform:rotate(0deg);
	
	transform-origin:52% 52%;
}

.box_img.step1 {
	transform: rotate(90deg);
}
.box_img.step2 {
	transform: rotate(180deg);
}

.wrap_sign .section_signin {
	width: 400px;
	min-height: 200px;
	position: absolute;
	right: 0;
	top: 0;
}

.section_signin h1 {
	height: 50px;
	background-image: url(../img/lostcityLogo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
}

#signinBox {
	width: 400px;
	min-height: 200px;
	background-color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	border-radius: 1px;
	position: relative;
}

#signinForm .area_login {
	width: 340px;
	min-height: 103px; /*33*/
	/*background-color: red;*/
	margin: auto;
	border-radius: 2px;
	background-color: #F5F5F5;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
}

#signinForm .row {
	min-height: 35px;
	padding: 5px 17px 7px;
}

#signinForm .row+.row {
	border-top: 1px solid #eee;
}

#signinForm input {
	font-family: 'Kakao', sans-serif;
	font-size: 15px;
	width: 300px;
	padding: 8px;
	border: none;
	vertical-align: middle;
	outline: none;
	background-color: #F5F5F5;
	color: #2d230d;
}

#signinForm .msg {
	font-size: 18px;
	margin-top:15px;
	text-align: center;
	color:#FF1744;
}

.btn {
	display: block;
	width: 314px;
	height: 35px;
	margin: 20px auto;
	background-color: rgb(45, 35, 13);
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
}

.link_join {
	width: 400px;
	height: 60px;
	background-color: #fff;
	text-align: center;
	line-height: 60px;
	color: #424242;
	font-family: 'Kakao', sans-serif;
	font-size: 14px;
}

.link_join a {
	font-weight: 700;
	font-size: 15px;
	color: rgb(45, 35, 13);
}
.link_join a:hover {
	 color:#FFB300;
}